<form  action="create.php" method="post">
    <label for="username">Username</label>
    <input id="surname" type="text" name="surname"><label for="username">Surname</label>
    <input id="surname" type="text" name="surname">
    <label for="email">Email</label>
    <input id="email" type="text" name="email">
    

    <button type="submit">Create</button>
    <a class="button" href="index.php">Back</a>
</form>